<div class="post-display">
  <div class="post-meta">
    $date$
  </div>
  <div class="post-title">
    <a href="$url$">$title$</a>
  </div>
  $if(abstract)$
  <div class="post-description">
    $abstract$
  </div>
  $endif$
</div>
