<h1>$title$</h1>

<section class="post-meta">
  $if(code)$
  <a href="$code$">Source code</a>,
  $endif$
  Posted on $date$
  $if(author)$
  by $author$
  $endif$
</section>

<article>
  <section>
    $body$
  </section>
</article>
